@using Kjac.HeadlessPreview.Site.Models;
@model DeliveryApiContent<AuthorProperties>

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en-US">
<head>
    <title>@Model.Name</title>
    <script src="/scripts/umb.preview.js"></script>
    <style>
        @@media screen and (min-width: 1200px) {
            body {
                padding: 50px 100px;
            }
            code {
                white-space: pre;
            }
        }
    </style>
</head>
<body>
<div>
    <h1>@Model.Name [@Model.ContentType]</h1>

    <fieldset umb-preview-edit="picture">
        <legend>Cover Image</legend>
        <img src="@Model.Properties.Picture[0].Url" height="200px" />
    </fieldset>
</div>
</body>
</html>